{%include 'navbar.html'%}
<h1>Employee list</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Age</th>
        <th>Address</th>
        <th>Delete1</th>
        <th>Delete2</th>
        <th>Edit</th>
    </tr>


    {%for i in object_list%}
<tr>
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.email}}</td>
    <td>{{i.contact}}</td>
    <td>{{i.age}}</td>
    <td>{{i.address}}</td>
    <td><a href="delete1/{{i.id}}">Delete1</a>></td>
    <td><a href="delete2/{{i.id}}">Delete2</a>></td>
    <td><a href="edit/{{i.id}}">Edit</a>></td>
    
</tr>
    {%endfor%}

</table>